*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
  font-family:Arial, Helvetica, sans-serif;
}
/* Styles pour le header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;  
}
#bg-video {
  /* filter: brightness(0.5); */
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin-bottom: 10px;
}
/* ------------------------------------ */
.scroll-arrow {
  display: none;
  position: fixed;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999; 
}
.scroll-up {
  transform: translateY(-100%);
}
.scroll-down {
  transform: translateY(0%);
}
/* ==========================Logo========================= */
.logo {
  width: 50%;
  position: relative;
  top: 0%;
  left: 0%;
  height: auto; 
  margin-bottom: 80px; 
} 
/* ==============================================================Menu======================================================= */
nav{
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap-reverse;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute; 
  top: 10px; 
  right: 0; 
}
.menu li {
  margin-right: 30px;
}
.menu li a:hover{
  color: #DEA50D;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
/* ============================================================================================================================= */
/*================================================= Home=============================================*/
.home-text {
  text-align: center;
  justify-content: center;
  margin-top:0%;
}
.home-text p {
  font-size: 30px; 
  color: #DEA50D;
  margin-top: 1.5%;
  justify-content: center;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.home-text .Description{
  margin-bottom: 20%;
}
.home-text h1 {
  font-size: 90px; 
  color: #ffffff;
  margin-bottom: 22%;
  font-size: 45px;
  margin-top: 10%;
}
.home-text h1 {
  animation: pulsate 15s ease-in-out infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/* ==============================================presentation========================================= */
.section1{
  background: white;
  width: 100%;
  height: auto;
  /* margin-bottom: 1.5%; */
}
.section1 h1{
  text-align: center;
  color: #DEA50D;
  font-size: 50px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.row p {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 15px;
    flex-basis: 45%;
    
}
.row img {
  width: 30%;
  height: auto;
  padding: 10px;
  flex-basis: 35%;
  border-radius: 30px;
}
/* -------------------------------------POURQUOI NOUS CHOISIR------------------------------------------------*/
#raison {
  background-color: #322F3E;
  padding: 30px 0;
  justify-content: center;
  width: 100%;
  height:auto;
}
.sub-title {
  text-align: center;
  /* margin-left: 33%;  */
 color: #DEA50D;
}
.raison-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 15px;
  margin-top: 40px;
}
.raison-list div{
  background: #9e9b9b;
  height: 300px;
  padding: 40px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  transition: background(0.5s, transform 0.5s) ;
}
.raison-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.raison-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.raison-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
  display: inline-block ;
}
.raison-list div:hover{
  background:#DEA50D;
  transform: translateY(-10px);
}
/* =======================================NOS SERVICES=========================================================== */
#services {
  padding: 50px 0;
  background-color: #fff;
  height: auto;
  justify-content: center;
}
.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 15px;
  margin-top: 40px;
}
.service{
  position: relative;
  overflow: hidden;
}
.service img{
  width:100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s ;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#DEA50D);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0,5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color:#DEA50D;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service:hover img{
  transform:  scale(1.1);
}
.service:hover .layer{
  height: 100%;
}
.btn{
  font-size: 25px;
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 1px solid #DEA50D;
  padding:18px 20px ;
  border-radius:  6px;
  text-decoration: none;
  color:black;
  transition: background 0.5s ;
}
.btn:hover{
  background: #DEA50D;
  font-size: 32px;
}
.sub-title-service {
  text-align: center;
 color: #DEA50D;
} 
/* ==================================================NOS PROJETS======================================== */
.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.25);
} 
.project-content {
  padding: 20px;
  color: #ffffff;
  font-size: 30px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.project-content h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  font-size: 40px;
}
.project-content p{
  font-size: 22px;
  width: 80%;
  max-width: 800px; 
  margin-top: 20px; 
  float: left;
}
/* <!-- =================================================AVEZ-VOUS DES QUESTIONS?============================================= --> */
#contact{
  background-color: white;
  padding: 20px 0; 
}
#contact .row {
  display: flex;
  flex-wrap: wrap;
}
.contact-left{
  flex-basis: 60%;
  text-align: center;
}
.contact-right{
  flex-basis: 40%;
}
.btn.btn2{
  display: inline-block;
  background: #DEA50D;
  font-size: 19px; 
  padding: 8px 20px;
  border-radius: 6px;
  transition: transform 0.5s;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 10px ;
  margin: 5px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
}
form .btn2{
  padding: 10px 30px;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.btn.btn2:hover {
  transform: scale(1.1); 
}
.sub-title span{
  color: #000000;
}
/* ===============================contact us===================================================== */
#info-contact{
  background-color: gray;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: -3%;
}
#info-contact h1 {
  font-size: 40px;
  text-align: center;
}
#info-contact .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#info-contact .row .info {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 60%;
  padding-right: 5%;
}
#info-contact .row .final-image {
  display: inline-block;
  width: 40%;
}
#info-contact .final-image img {
  width: 100%;
  height: auto;
}
#info-contact .info p{
  cursor: pointer;
}
#info-contact .info p:hover{
  transform: scale(1.1); 
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#info-contact .final-image img {
  animation: scale 6s infinite;
}
/* ========================================copyright=================== */
.copyright{
  width: 100%; 
  text-align: center;
  /* padding: 25px 0; */
  /* background: #262626; */
  font-weight: 300;
  background-color: gray;
}
/* =============================================SMALL SCREEN====================================== */
/* =========================menuicon-=============================== */
nav .fa-solid{
  display: none;
}
@media only screen and (max-width: 896px){
  /* ===========================section 0========================== */
  .home-container video {
    display: none;
  }
  .section0{
    background-image: url(images/small_home.png); 
    content: "";
    top: 0px;
    left:0px;
    background-size:cover;
    background-position: center;
    position: relative;
  }
    /* =======================================MENU========================== */
    nav .fa-solid{
      display: block;
      font-size: 25px ;
      cursor: pointer;
   }
  nav{
    align-items: flex-start;
    flex-wrap:wrap-reverse;
  }
  .menu {
    display: block;
    align-items: center;
    justify-content: column ;
    margin: 0px;
    background: #DEA50D;
    z-index: 9999;
    border-radius: 10px 0px 10px 10px;
    width: auto;
    height:auto;
    top: 0px;
  }
  .menu a {
    font-size: 15px;
  }
  .menu li{
    margin: 20px;
  }
  /* ===========================home============================= */
  .home-text {
    text-align: center;
    justify-content: center;
    /* margin-bottom: 20px; */
  }
  /* .home-text p {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center; 
  } */
  .home-text h1 {
    font-size: 18px; 
    color: #0d0138;
    padding-top: 0%;
    padding-bottom: 50%;
  }
  /* ==============================logo====================== */
  .logo {
    width: 30%; 
    height: auto;
    margin-bottom: 10%; 
  }
/* ===================================presentation======================== */
.section1 {
  background: white;
  width: 100%;
  height: auto;
  padding: 20px;
}
.section1 h1 {
  font-size: 30px;
  margin-top: -35%;
}
.row {
  display: flex;
  flex-direction: column;
}
.row p {
  font-size: 18px;
}
.row img {
  width: 300px;
  border-radius: 20px;
}
/* -------------------------------------POURQUOI NOUS CHOISIR------------------------------------------------*/
.sub-title {
  font-size:25px ;
}
/* =======================================NOS SERVICES=========================================================== */
.sub-title-service {
  font-size: 30px;
}
/* ===================================================NOS PROJETS====================================== */
.background-image{
  display: none;
}
.project-container{
  background-image: url(images/DSC_8879.jpg); 
   /* filter: brightness(0.3); */
  top: 0px;
  left:0px;
  background-size: cover;
  position: relative;
  margin-bottom:5%;
}
.project-content h1{
  font-size: 30px;
  color: #fff;
}
.project-content p{
  color: #000000;
  
}
/* ======================cotact us============= */
#info-contact .row {
  flex-direction: column; 
  align-items: flex-start; 
}
#info-contact .row .final-image {
  width: 80%;
}
.info p{
  font-size: 15px;
  width: 170%;
}
}