*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}
/* Styles pour le header */
#header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}
/* la video en background */
#bg-video {
  filter: brightness(0.5);
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* background: linear-gradient(rgba(0,0,0,0.6),#020202); */
}

/* Logo */
.logo {
  width: 50%; 
  height: auto; 
  /* position: fixed;  
  top: 0; 
  left: 0;    reste tjrs afficher dans ca posion si vous decommenter*/
  margin-bottom: 80px; /* Ajustez la marge inférieure selon vos besoins */
}

/* ==============================================================Menu======================================================= */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute; 
  top: 0; 
  right: 0; 
  margin-top: -5px;
  padding: 0;
  margin: 30px;
  margin-left: 50%;
}
.menu li {
  margin-right: 30px;
}
.menu li a:hover{
  color: #DEA50D;
}
.menu li:first-child {
  margin-left: auto; /* Remplacez la valeur précédente par "auto" */  
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;

}

/* ============================================================================================================================= */
/*================================================= Home=============================================*/
.home-text {
  text-align: center;
  justify-content: center;
  margin-top: 50%;
}

.home-text p {
  font-size: 30px; 
  color: #DEA50D;
  margin-top: 20px;
  width: 850px;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 20px;
}

.home-text h1 {
  font-size: 90px; 
  color: #000000;
  flex-basis: 60%;
}

.home-text {
  text-align: center ;
  justify-content: center;
  margin-top:0%;
}
/* ==============================================presentation========================================= */
.section1{
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 15%;
  justify-content: center;
}
.section1 h2{
  color: #DEA50D;
  font-size: 50px;
  margin-left: 30px;
  /* top: 100px; */
  /* margin-top:10px; */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
}
.row p {
  flex-basis: 45%;
  font-size: 25px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.row img {
  left:  60px;
  flex-basis: 45%;
  margin-top: 15px;
  width:100px;
  height:auto;
  border-radius: 10px;
  top: 20%;
}
/* -------------------------------------POURQUOI NOUS CHOISIR------------------------------------------------*/
#raison {
  background-color: #322F3E;
  padding: 30px 0;
  justify-content: center;
  height: 500px;
  
}
.sub-title {
  margin-left: 33%; 
 color: #DEA50D;
}
.raison-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.raison-list div{
  background: #9e9b9b;
  height: 300px;
  padding: 40px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
  transition: background(0.5s, transform 0.5s) ;
}
.raison-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.raison-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;

}
.raison-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
  display: inline-block ;
  margin-left: 40%;
  
}
.raison-list div:hover{
  background:#DEA50D;
  transform: translateY(-10px);
}

/* =======================================NOS SERVICES=========================================================== */
#services {
  padding: 50px 0;
  background-color: #fff;
  height: auto;
  justify-content: center;
}
.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.service{
  
  position: relative;
overflow: hidden;
}
.service img{
  width:100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s ;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#DEA50D);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0,5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color:#DEA50D;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  
  /* pour centrer l'icône */
  display: flex;
  justify-content: center;
  align-items: center;
}

.service:hover img{
  transform:  scale(1.1);
}
.service:hover .layer{
  height: 100%;
}

.btn{
  font-size: 25px;
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 1px solid #DEA50D;
  padding:18px 20px ;
  border-radius:  6px;
  text-decoration: none;
  color:black;
  transition: background 0.5s ;
}

.btn:hover{
  background: #DEA50D;
  font-size: 32px;
}
.sub-title-service {
  margin-left: 40%; 
 color: #DEA50D;
} 
/* ==================================================NOS PROJETS======================================== */
.project-container {
  position: relative;
  /* background: #322F3E; */
}

 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.25);
} 

.project-content {
  padding: 20px;
  color: #ffffff;
  font-size: 30px;
  /* width: 50%;
  height: 100%;
  float: left; */
}

.project-content h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 2.5%;
  margin-top: 0.5%;
  font-size: 40px;
}

.project-content p{
  font-size: 22px;
  width: 50%;
  height: 100%;
  float: left;
  margin-left: 5%;
  /* color: #000000; */
}
.project-content .image-container {
  float: left;
  margin-right: 20px;
}

.project-content img {
  width: 300px;
  height: auto;
}

/* <!-- =================================================AVEZ-VOUS DES QUESTIONS?============================================= --> */
#contact{
  margin-top:39% ;
  /* margin-left: -10%; */
  /* background-color: #DEA50D; */
}
.contact-left{
  flex-basis: 60%;
  margin-left: -20%;
}

.contact-right{
  flex-basis: 50%;
  margin-left: -20%;
  margin-right: 40px;
}
.btn.btn2{
  display: inline-block;
  background: #DEA50D;
  /* transform:  scale(1.1); */
  font-size: 19px; 
  padding: 8px 20px;
  border-radius: 6px;
  transition: transform 0.5s;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 10px ;
  margin: 5px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
}
form .btn2{
  padding: 10px 30px;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  /* transform:  scale(1.1); */
}
.btn.btn2:hover {
  transform: scale(1.1); 
}
.sub-title span{
  color: #000000;
}
/* ===============================contact us===================================================== */


#info-contact{
  background-color: gray;
  width: 100%;
  height: auto;
  justify-content: center;
}
#info-contact h1.sub-title {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 19px;
  
}

#info-contact .final-image img {
  width: 470px; 
  height: auto;
  margin-top: -15px; 
  margin-right: 20%; */
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}
#info-contact .info {
  /* cursor: pointer; */
  margin-top: 30px;
  margin-bottom: 40px;
}
#info-contact .info p{
  cursor: pointer;
}
#info-contact .info p:hover{
  transform: scale(1.1); 
}
/* --------------------------pour animimage-------------------------- */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

#info-contact .final-image img {
  animation: scale 6s infinite;
}

/* ========================================copyright=================== */
.copyright{
  width: 100%; 
  text-align: center;
  /* padding: 25px 0; */
  /* background: #262626; */
  font-weight: 300;
  background-color: gray;
}
/* =============================================SMALL SCREEN====================================== */